$primary-font-family: 'Public Sans', sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;

$fs-400: 1rem;
$fs-500: 1.125rem;

$font-family-body: $primary-font-family;
$font-family-heading: $primary-font-family;

// $font-size-body: $fs-500;
// $font-size-heading: ;
// $font-size-secondary-heading: ;
// $font-size-navigation: ;
// $font-size-button: ;

$font-weight-body: $fw-regular;